binoas:
  zookeeper: kafka
  db:
    uri: "mysql+pymysql://root:test@binoas_mysql_1:3306/binoas"
    options:
      isolation_level: "READ COMMITTED"
  elasticsearch:
    host: elastic
    port: 9200
    timeout: 20
  sendgrid:
    api_key: "SG.xxxxxx"
  _defaults: &defaults
    routes:
      app:
        topics:
          out: topic
      transformer:
        topics:
          in: topic
          out: objects
      loader:
        topics:
          in: objects
      percolator:
        group: percolator
        topics:
          in:
            - objects
          out:
            - alerts
      subfetcher:
        topics:
          in:
            - alerts
          out:
            - mails
      mailer:
        topics:
          in:
            - mails
  applications:
    poliflw:
      <<: *defaults
      name: PoliFLW
    politwoops:
      <<: *defaults
      name: politwoops
    openraadsinformatie:
      <<: *defaults
      name: "Open Raadsinformatie"
    test:
      <<: *defaults
      name: "Test"
      rules:
        title: "*"
