{% extends "templates/default/index.html" %}

{% block logo %}

<img alt="header image" height="70" src="https://poliflw.nl/static/images/mstile-70x70.png" style="border:0;display:block;outline:none;text-decoration:none;width:100%;" width="70">

{% endblock %}

{% block documents %}

<tr>
  <td align="left" style="font-size:0px;padding:0 25px;word-break:break-word;">

    <div style="font-family:Montserrat,sans-serif;font-size:14px;line-height:1;text-align:left;color:#000000;">
      <h4>Je hebt 1 of meerdere alerts:</h4>
    </div>

  </td>
</tr>

{% for alert in payload.alerts %}
<tr>
  <td align="left" style="font-size:0px;padding:0 25px;word-break:break-word;">

    <div style="font-family:Montserrat,sans-serif;font-size:14px;line-height:1;text-align:left;color:#000000;">
      <h5>Nieuwe alerts voor '{{ alert.query.description }}':</h5>
    </div>

  </td>
</tr>

{% for doc in alert.documents %}
  <tr>
    <td align="center" vertical-align="middle" style="font-size:0px;padding:20px 0 0 0;word-break:break-word;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;width:100%;">
        <tr>
          <td align="center" bgcolor="#C21789" role="presentation" style="border:none;border-radius:3px;cursor:auto;padding:10px 25px;" valign="middle">
            <a href="https://www.poliflw.nl/l/{{ doc |poliflw_first_for_key('location') }}/{{ doc |poliflw_first_for_key('parties') }}/{{ doc.id }}" style="background: #C21789; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 120%; Margin: 0; text-transform: none; text-decoration: none; color: white;" target="_blank">
              {{ doc |poliflw_party_and_location }}
              {% if doc.title %}
              - {{ doc.title }}
              {% else %}
              &rarr;
              {% endif %}
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td align="left" style="font-size:0px;padding:0 25px;word-break:break-word;">

      <div style="font-family:Montserrat,sans-serif;font-size:14px;line-height:1;text-align:left;color:#C21789;">
      </div>

    </td>
  </tr>

  {% if doc.description %}
  <tr>
    <td align="left" style="font-size:0px;padding:0 25px;word-break:break-word;">
      <div style="font-family:Montserrat,sans-serif;font-size:14px;line-height:1;text-align:left;color:#000000;">
        <div style="margin-bottom: 10px;">
          <p>{{ doc.description |binoas_html_clean(doc) |safe }}</p>
        </div>
      </div>
    </td>
  </tr>
  {% endif %}

  <tr>
    <td align="center" vertical-align="middle" style="font-size:0px;padding:4px 0 0 0;word-break:break-word;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
        <tr>
          <td align="center" bgcolor="#C21789" role="presentation" style="border:none;border-radius:3px;cursor:auto;padding:4px 10px;" valign="middle">
            <a href="https://www.poliflw.nl/l/{{ doc |poliflw_first_for_key('location') }}/{{ doc |poliflw_first_for_key('parties') }}/{{ doc.id }}" style="background: #C21789; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 120%; Margin: 0; text-transform: none; text-decoration: none; color: white;" target="_blank">
              Bericht lezen op Poliflw
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

{% endfor %}

<tr>
  <td align="center" vertical-align="middle" style="font-size:0px;padding:4px 0 0 0;word-break:break-word;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
      <tr>
        <td align="center" bgcolor="#C21789" role="presentation" style="border:none;border-radius:3px;cursor:auto;padding:4px 10px;" valign="middle">
          <a href="https://poliflw.nl/unsubscribe?query_id={{ alert.query.id }}&amp;user_id={{ payload.user.id }}" style="background: #C21789; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 120%; Margin: 0; text-transform: none; text-decoration: none; color: white;" target="_blank">
            Alert voor '{{ alert.query.description }}' stopzetten
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

{% endfor %}

{% endblock %}
